/*------------------------------General Styling*/

@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Lora:wght@400;500;600;700&family=Roboto+Slab:wght@400;500;600;700;800&display=swap');


/*------------------------------Header*/


.header-title {
    color: #31BB9B;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "roboto-slab", sans-serif;

}


.navbar-right {
    position: absolute;
    right: 0px;
    text-transform: uppercase;
}

.navbar-right a {
    color: #31BB9B;
    font-weight: 600;
}

/*------------------------------Hero Image*/

#hero-image {
    height: 85vh;
    width: 100%;
    background: url("../images/pexels-yan-krukau-8617817.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
}


.hero-title {
    font-family: "roboto-slab", sans-serif;
    font-size: 3.5vw;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding-top: 20px;

}

.hero-slogan {
    font-family: "cookie", sans-serif;
    font-size: 2.5vw;
    text-align: center;
    color: #ffffff;

}

#cover-text {
    padding: 35px 35px 25px;
    background-color: rgba(49, 187, 155, 0.6);
    position: relative;
    left: 68%;
    top: 70%;
    width: 30%;
    height: 23vh;
    border-radius: 1.5rem
}


/* If the screen size is 1024px wide or less */


@media screen and (max-width: 1024px) {
    .hero-title {
        font-size: 4.7vw;
        padding: 20px 10px 5px 10px;
    }

    .hero-slogan {
        font-size: 3.8vw;
    }

    #cover-text {
        padding: 15px 15px 15px;
        left: 57%;
        top: 70%;
        width: 40%;
        height: 25%;
    }
}



/* If the screen size is 800px wide or less */

@media screen and (max-width: 800px) {
    .hero-title {
        font-size: 6vw;
        padding: 10px 10px 0 10px;
    }

    .hero-slogan {
        font-size: 5vw;
    }

    #cover-text {
        padding: 15px 15px 15px;
        width: 50%;
        height: 17vh;
        left: 40%;
        top: 73%;
    }
}




/* If the screen size is 425px wide or less */

@media screen and (max-width: 425px) {
    .hero-title {
        font-size: 8vw;
        padding: 10px 10px 0 10px;
    }

    .hero-slogan {
        font-size: 7.5vw;
    }

    #cover-text {
        padding: 20px 15px 15px;
        width: 66%;
        height: 15vh;
        left: 32%;
        top: 75%;
    }
}



/*------------------------------Home page showcase boxes*/

.showbox-container {
    padding: 20px 10px;
}

.showbox-outer {
    padding: 15px;
}

.showbox-container h2 {
    font-family: "roboto-slab", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    padding-top: 5%;
}

.showbox-container p {
    text-align: justify;
    margin-top: 20px;
}

.rounded-edge {
    border-radius: 1.5rem;
}


/*------------------------------inside page*/
.inside-h-bg {background-color: #c691b5;
text-align: center;
padding: 2% 0;}

.about-bg {background-color: #c691b5;
}

.discover-bg {background-color:#ffcc33;
    padding: 0.5%;
}

.inside-header {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}

.inside-box-left{
    padding: 1% 1% 1% 2%;
}

.inside-box-center{padding: 1% 0.5% 1% 0.5%;}

.inside-sub-header{color: #000000;
    font-size: 40px;
   text-align: center;
font-family: "cookie",
sans-serif;}

.inside-p {text-align: justify;}

/*------------------------------visit page*/

/*------------------------------prices*/

.visit-header4 {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    padding: 5% 0 5%;
}

.visit-header4-open {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    padding: 10% 0 5%;
}

.visit-icon-gap {
    padding-right: 10px;
}



#visit-left {
    background-color: rgba(141, 35, 107, 0.5);
    margin: 2%;
    padding: 20px;
    font-family: "roboto-slab", sans-serif;
    border-radius: 1.5rem
}

#prices-background {
    height: 80vh;
    width: 100%;
    background: url("../images/pexels-cottonbro-studio-8142680.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    margin-left: 0;
    margin-top: 2%;
    border-radius: 1.5rem
}


.astrix {
    color: #adebdc;
}

.donation-info {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.table-feat {
    font-weight: 600;
    margin-top: 3%;
    color: #ffffff;
}

.open-p {
    font-family: "roboto-slab",
        sans-serif;
    margin-left: 1%;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 0.5%;
    color: #ffffff;
}


/*------------------------------other facilities*/

#other-fac-background {
    height: 65vh;
    width: 100%;
    background: url("../images/pexels-mikhail-nilov-8307541.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    margin-left: 0;
    margin-top: 2%;
    border-radius: 1.5rem
}

#visit-right {
    background-color: rgba(64, 117, 161, 0.5);
    margin: 2%;
    padding: 20px;
    font-family: "roboto-slab",
        sans-serif;
    margin: 2% 2% 2% 64.5%;
    border-radius: 1.5rem
}

.facilities-list {
    margin-left: 1%;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 0.5%;
    color: #ffffff;
}

.facilities-title {
    font-weight: 600;
    font-size: 16px;
}

/*------------------------------facilities map*/

#visit-map {
    background-color: rgba(49, 187, 155, 0.9);
    padding: 20px;
    margin: 2% 3% 2% 1%;
    padding: 20px;
    font-family: "roboto-slab",
        sans-serif;
    border-radius: 1.5rem;
}


.google-map {
    height: 100%;
    width: 100%;
    border-radius: 1.5rem
}

#map-background {
    height: 65vh;
    margin-top: 2%;
    margin-bottom: 2%;
}

.address-space {
    padding-top: 7%;
}


.contact-button {
    padding-top: 2%;
    margin: 7% 0;
    font-weight: 600;
    background-color: #ffffff;
}

/*------------------------------visit page media query*/

@media screen and (max-width: 990px) {
    #visit-left {
        background-color: rgba(141, 35, 107, 0.4);
        margin: 0 auto;
        padding: 20px;
        font-family: "roboto-slab", sans-serif;
    }

    .visit-header4-open {
        padding: 6% 0 5%;
    }

    #visit-right {
        margin: 0 auto;
    }

    #other-fac-background {
        height: 55vh;
        width: 100%;
        background: url("../images/pexels-mikhail-nilov-8307541.jpg") no-repeat center center;
        background-size: cover;
        position: relative;
        margin-left: 0;
        margin-top: 2%;
        border-radius: 1.5rem
    }

}

@media screen and (max-width: 760px) {
    .visit-header4-open {
        padding: 10% 0 5%;
    }

}

@media screen and (max-width: 440px) {
    .visit-header4-open {
        padding: 20% 0 5%;
    }

    #map-background {
        height: 40vh;
        margin-top: 2%;
        margin-bottom: 2%;

    }
}



/*------------------------------Contact form*/

.picture-contact {
    padding: 5%;
}

.contact-bg {
    background-color: #c691b5;
}

.center-form {
    text-align: center;
    padding-top: 7%;
    max-width: 62.5%;
}

.content-margin {
    padding: 1%;
}

.subject-box {
    color: rgb(64 117 161);
}

.form-control::placeholder {
    color: rgb(64 117 161);
}

.contact-detail-h3 {
    color: #ffffff;
    font-family: "cookie", sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 3%;
}

.contact-detail-h4 {
    color: rgb(64 117 161);
    font-family: "roboto-slab",
        sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 3%;
}

.contact-detail-p {
    color: #ffffff;
    font-family: "roboto-slab",
        sans-serif;
    margin-left: 2%;
    font-weight: 300;
    font-size: 16px;
    text-transform: none;

}

button[type="submit"] {
    margin-top: 3%;
    margin-bottom: 3%;
    color: #ffffff;
    background-color: rgb(64 117 161);
}


.page-space {
    padding: 10%;
    background-color: #c691b5;
}

/*------------------------------Contact form media queries*/
@media screen and (max-width: 1024px) {
    .center-form {
        padding-top: 5%;
    }


    button[type="submit"] {
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 980px) {
    .center-form {
        text-align: center;
        padding-top: 7%;
        max-width: 62.5%;
    }


}

@media screen and (max-width: 770px) {

    .picture-contact {
        padding: 5%;
        width: 40vw;
        margin: 0 auto;
        ;
    }

    .center-form {
        padding: 4%;

        max-width: 80%;
        margin: 0 auto;
    }

    button[type="submit"] {

        margin-bottom: 15%;

    }

}


/*------------------------------Footer*/

footer {
    background-color: #31BB9B;
    height: 80px;
    margin: 0%;
}

.social-media-icon i {
    color: #8D236B;
    padding: 20px 0;
    height: 75px;
    width: 75px;
    font-size: 35px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-media-icon i:hover {
    color: #ffcc33;
}