@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;700&display=swap');

/*------------------------------Header*/


    {
    font-family: 'Noto Sans',
        sans-serif;
}

.logo-image-header {}

.header-title {
    color: #cd2026;
    font-size: x-large;
    font-weight: 700;
}


.navbar-right {
    position: absolute;
    right: 0px;
    text-transform: uppercase;
}

.navbar-right a {
    color: #31BB9B;
    font-weight: 600;
}


/*------------------------------Footer*/

footer {
    background-color: #31BB9B;
    height: 80px;
    margin: 0%;
}

.social-media-icon i {
    color: #8D236B;
    padding: 20px 0;
    height: 75px;
    width: 75px;
    font-size: 35px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-media-icon i:hover {
    color: #ffcc33;
}